@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');
.img{
    padding: 0;
    width: 80px;
    max-height: 100%;
    min-width: 100%;
    
    border-radius: 50%;
    border: 1px solid #999;
    display: flex;
    align-items: center;
    justify-content: center;
}
.image{
    
    margin-bottom: 5px;
    max-width: 150px;
    max-height: 150px;
    
}
body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #262626;
    color: aliceblue;
    font-family: 'Bree Serif', serif;
    letter-spacing: 1px;
    
    :hover{
        color: #f5eeee;
        .icon-1{
            color:#fc0000;
        }
        .icon-2{
            color:#82ec00;
        }
        h3:nth-child(odd){
            border-radius: 5px;
            background-color: #3b183b8a;
    
          }
        
    }
}
.testimonials{
margin: 10px 15px 7px ;
display: grid;
grid-template-columns: repeat(auto-fit,minmax(350px,1fr));
gap: 15px;
}
.card{
    border-radius: 10px;
    position: relative;
    width: 350px;
    margin: 0 auto;
    background: #333;
    padding: 10px ;
    box-sizing: border-box;
    text-align: center;
    box-shadow: 0 10px 40px rgba(0,0,0,.5);
    overflow: hidden;
}
.layer{
    position: absolute;
    top:calc(100% - 3px) ;
    left: 0;
    background: linear-gradient(#03a8f471,#e91ee28c);
    height: 100%;
    width: 100%;
    z-index: 1;
    transition: 0.5s;
}
.card:hover .layer{
    top: 0;
    color: #262626;
}
.content{
    position: relative;
    z-index: 2;
}
.details{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    
    
}
.buton-1{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 1px;
    cursor: pointer;
}
.buton-2{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 1px;
    cursor: pointer;
}
.title-1{
    
font-size: xx-large;

margin-left: 25px;

}
.title-2{
    
    font-size: x-large;
    
    margin-left: 25px;
    
    
    }
.icon-1{
    color: #03a9f4;
}
.icon-2{
    color: #e91ee3;
}
.bottom{
    h3:nth-child(odd){
        border-radius: 5px;
        background-color: #4e251177;

      }
}
.first-text{
    border-radius: 10px;


    border: 1px solid rgba(214, 155, 155, 0.295);
}
.second-text{
    border-radius: 10px;
    

    border: 1px solid rgba(214, 155, 155, 0.295);
}